.user{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
nav a.active{
    text-decoration: underline;
    color:blueviolet;
    background-color: skyblue;
}
.loading{
    color:red;
}